.DS_Store
*.asv
config.yaml
__pycache__/
*.pyc
*.html
*.nc
/python/OceanDB/__pycache__
*.png
python/OceanDB/__pycache__/AlongTrack.cpython-312.pyc
python/OceanDB/__pycache__/__init__.cpython-312.pyc

.idea/

/.env
/OceanDB/src/OceanDB.egg-info/
/OceanDB/dist/
/OceanDB/build/

# docs
docs/build
docs/source/generated
